<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <link rel="stylesheet" type="text/css" href="/static/guest/guest.css">
</head>
<body>
    <div class="welcome_app">Reset password</div>
    <form class="form_container" method="POST" action="{% url 'reset_app_password' %}">
    {% csrf_token %}
        <div class="form_bottom_padding">

            <input class="form_email" type="email" name="email" value="">
        </div>
        <div class="form_submit_container">
            <input class="form_submit"type="submit" value="Reset">
        </div>
</form>
</body>
</html>